*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-image: url(../image/bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.hitam_putih{
    background-color:rgba(0, 0, 0, 0.25);
    height: 100vh;
}

.tombol{
    background: #3F7C88;
    color: white;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    margin-top: 3px;
}

.tampil {
  width: 100%;
  position: relative;
  padding: 130px 0 0 0;
}

.tampil:before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.tampil h1{
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
}

.tampil h2 {
  color: white;
  margin-bottom: 40px;
  font-size: 24px;
}

.tampil .pengaduan {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #3F7C88;
}

.tampil .pengaduan:hover {
  background: #3F7C88;
}

.tampil a{
    text-decoration: none;
}

@media screen and (max-width: 780px){
    .tampil h1{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .tampil h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

