*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.tanggapi{
    background: #F52929;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    text-decoration: none;
    padding-bottom: 4px;
}

.tanggapi:hover{
    color: white;
}


.judul h1{
    border-bottom: 3px solid #3F7C88;
    color: #3F7C88;
    padding-bottom: 10px;
}

.bg-dark {
    background-color: #3f7c88!important;
}