*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.tombol{
    background: #3F7C88;
    color: white;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    margin-top: 3px;
}

.judul h1{
    border-bottom: 3px solid #3F7C88;
    color: #3F7C88;
    padding-bottom: 10px;
}

.hero{
    height: 300px;
    background-color: #D2E2E2;
}

.judul h2{
    text-align: center;
    font-weight: bold;
    padding-top: 65px;
    color: #3F7C88;
}

.judul p{
    text-align: center;
    font-size: 25px;
    color: #3F7C88;
}

.judul h3{
    text-align: center;
    color: #3F7C88;
}

.pengaduan h1{
    border-bottom: 3px solid #3F7C88;
    color: #3F7C88;
    padding-bottom: 10px;
}

.tampil_pengaduan{
    background-image: url(../image/leaves-pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark{
    background-color: #3f7c88!important;
}

.form-control{
    width: 20%;
    border-radius: 30px;
    margin-right: 3px;
}

.btn-primary {
    width: 65px;
    border-radius: 30px;
    background-color: #3f7c88;
    border-color: #3f7c88;
}

.btn-primary:hover {
    background-color: #3f7c88;
    border-color: #3f7c88;
}

@media screen and (max-width: 1024px){
    .hero {
        height: 350px;
    }
    .judul h2{
        padding-top: 65px;
    }
}

@media screen and (max-width: 768px){
    .hero {
        height: 340px;
    }
    .judul h2{
        padding-top: 40px;
    }
    
}

@media screen and (max-width: 450px){
    .hero {
        height: 350px;
    }
    .judul h2{
        padding-top: 45px;
    }
    .form-control{
        width: 35%;
    }
}