*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.judul h1{
    border-bottom: 3px solid #3F7C88;
    color: #3F7C88;
    padding-bottom: 10px;
}

.informasi{
    background-image: url(../image/leaves-pattern.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark {
    background-color: #3f7c88!important;
}