* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-image: url(../image/bg.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hitam_putih {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
}

.form_login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  width: 450px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.form_login h1 {
  text-align: center;
  color: #3f7c88;
  margin-bottom: 30px;
}

.form-label {
  font-weight: bold;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #0000ff;
}

.eror {
  margin-top: 5px;
  color: red;
}

.tombol {
  background: #3f7c88;
  color: white;
  font-size: 1rem;
  width: 25%;
  border: none;
  border-radius: 50px;
  padding: 3px 13px;
  margin-top: 3px;
  margin-left: 150px;
  font-size: 20px;
  text-decoration: none;
  padding-top: 0;
}

a.tombol:hover {
  color: white;
}

@media screen and (max-width: 780px) {
  .form_login {
    width: 340px;
  }
  .tombol {
    margin-left: 107px;
    padding: 3px 9px;
    margin-left: 107px;
    font-size: 17px;
  }
}
