*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.judul h1{
    border-bottom: 3px solid #3F7C88;
    color: #3F7C88;
    padding-bottom: 10px;
}

body{
    background-color: #D2E2E2;
}

.form{
    margin-top: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 1009px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.tmbl_kirim{
    background: #3F7C88;
    color: white;
    font-size: 1rem;
    width: 13%;
    border: none;
    border-radius: 5px;
    padding: 3px 13px;
    margin-top: 20px;
    font-size: 20px;
}

.bg-dark {
    background-color: #3f7c88!important;
}

@media screen and (max-width: 1024px){
    .form{
        margin-top: 60px;
        width: 700px;
    }
}
@media screen and (max-width: 768px){
    .form{
        margin-top: 60px;
        width: 520px;
    }
    .tmbl_kirim{
        width: 23%;
    }
}
@media screen and (max-width: 450px){
    .form{
        margin-top: 60px;
        width: 350px;
    }
}